/* Les couleurs de la charte sont le bleu (#0065FC), une version plus
claire de ce bleu (#DEEBFF) et le gris pour le fond (#F2F2F2). */
/* header */

body {
  font-family: "Raleway", Arial, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

main {
  margin: 0 20px;
}

a {
  text-decoration: none; /* enleve trait sous lien */
  font-size: 15px;
  color: black;
}
h3,
h4 {
  font-size: 20px;
}
h5 {
  font-weight: bold;
  font-size: 15px;
}

ul {
  list-style-type: none; /* enleve la puce <li> */
  padding-inline-start: unset; /* gere le declage devant <li> */
  font-size: 13px;
}

.euro {
  font-weight: bold;
  font-size: 13px;
}
/* entete de page */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 00 20px 0;
}

nav img {
  padding-left: 20px;
  height: 45px;
}

#nav {
  display: flex;
  list-style: none;
  font-size: 13px;
  height: 100%;
  width: 300px;
}

.ancre-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: transparent 3px solid;
  width: 50%;
  max-width: 50%;
}
.ancre-nav a:hover {
  color: #0065fc;
}
/* barre bleu lien nav en haut au survol souris */
.ancre-nav:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
}

/* --------------------------------------main------------------------------------------------- */

h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

p #nature {
  font-size: 15px;
  margin: 10px 0 22px 0;
}

/* champs recherche */
#recherche {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 29px;
}

/* mise en forme recherche */
#logo-recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  width: 40px;
  height: 40px;
  border-radius: 25% 0 0 25%;
}

#champ-recherche {
  border: 2px #f2f2f2 solid;
  padding: 2px;
  margin: 0px;
  width: 235px;
  height: 38px;
  text-indent: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", Arial, sans-serif;
}

#bp-recherche {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  border: 3px #0065fc solid;
  width: 97px;
  height: 46px;
  border-radius: 0 15px 15px 0;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

#bp-icon {
  display: none;
}

#bp-recherche:hover {
  cursor: pointer;
}

/* ------------------champ filtre--------------- */

#filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}

#smart-filtre {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: auto;
}

/* ------mise en forme filtre --------*/
.class-filtre {
  display: flex;
  align-items: center;
  border: 2px #dddddd solid;
  width: auto;
  height: 40px;
  font-size: 20px;
  border-radius: 30px 30px;
  font-weight: bold;
  font-family: "Raleway", Arial, sans-serif;
  margin: 8px 10px;
}
.class-filtre i {
  color: #0065fc;
}

/* effet sur souris */
.class-filtre:hover {
  cursor: pointer;
  opacity: 0.7;
  /* transform:scale(1.25); */ /* grossi de 25% */
  transform: rotate(-15deg);
}

.class-filtre:hover i {
  /* logo filtre en rouge sur souris */
  color: red;
}

.logo-filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 4px;
  color: #ffffff;
  background-color: #deebff;
  border: 3px #deebff solid;
  width: 38px;
  height: 38px;
  border-radius: 30px 30px;
}

.f-filtre {
  background: none;
  border: none;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-inline: 10px;
}

.f-filtre:hover {
  cursor: pointer;
}
/* ---------------mise en page information----------------- */
#information {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#information p {
  margin-left: 10px;
}
#logo-information {
  position: relative;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px #f2f2f2 solid;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 25px 25px;
}
#logo-information i {
  color: #0065fc;
  font-size: 13px;
}
/* ---------------mise en page section hotel----------------- */
.nom-hotel {
  font-weight: bold;
  font-size: 14px;
  margin: unset;
  width: auto;
}

.prix-hotel {
  font-size: 12px;
  margin: unset;
}

.etoile-bleu {
  color: #0065fc;
  font-size: 12px;
}

.etoile-grise {
  color: #f2f2f2;
  font-size: 12px;
}

#hotel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: auto;
  column-gap: 20px;
}

/* mise en page populaire */

#populaire {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 3px #f2f2f2 solid;
  border-radius: 15px 15px;
  padding: 0 15px;
  width: 27%;
  min-width: 328px;
  height: auto;
}

#titre-populaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titre-populaire i {
  font-size: 15px;
}

.bloc-populaire {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 3px #fff solid;
  border-radius: 15px 15px;
  width: auto;
  min-width: 270px;
  height: 150px;
  margin: 0 0 30px 0;
  box-shadow: 0px 5px 5px #cfccccfa;
}

.bloc-populaire .ordi {
  display: initial;
  width: 45%;
  min-width: 45%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.bloc-populaire .tablette {
  display: none;
}

.bloc-populaire .mobile {
  display: none;
}

.etoile {
  display: flex;
  margin: 10px 10px;
}

.nav-populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: unset;
}

.nom-populaire {
  margin: 10px 10px;
}

.nom-populaire .nom-hotel {
  margin-bottom: 10px;
}

/* mise en page hebergement */

#hebergement {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 3px #f2f2f2 solid;
  border-radius: 15px 15px;
  padding: 0 15px;
  width: 70%;
  min-width: 382px;
  height: auto;
}

#corps-hebergement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 30px; /*  pour espacer les blocs */
  column-gap: 20px;
  margin-bottom: 30px;
}

.bloc-hebergement {
  background-color: #fff;
  flex: 25%;
  border: 3px #fff solid;
  border-radius: 15px 15px;
  min-width: 180px;
  height: 200px;
  box-shadow: 0px 5px 5px #cfccccfa;
}

.bloc-hebergement .ordi {
  display: initial;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 60%;
}

.bloc-hebergement .tablette {
  display: none;
}

.bloc-hebergement .mobile {
  display: none;
}

#corps-hebergement a {
  flex: 25%;
}

.nav-hebergement {
  margin: 0 10px;
}

.nav-hebergement p {
  margin: 5px 0;
}

#afficher {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 20px;
}

/* -------------------mise en page activites ---------------------*/
#activites {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

#activites h4 {
  margin-left: 5px;
}

#corps-activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#corps-activites a {
  display: flex;
  width: 22%;
}

.simple-activites {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 3px #fff solid;
  border-radius: 15px 15px;
  width: 100%;
  height: 427px;
  box-shadow: 0px 5px 5px #cfccccfa;
}

.simple-activites .nom-hotel {
  padding: 10px 0 0 10px;
}

.simple-activites .ordi {
  display: initial;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 90%;
}

.simple-activites .tablette {
  display: none;
}

.simple-activites .mobile {
  display: none;
}

#corps-activites .double-activites a {
  width: 100%;
}

.double-activites {
  display: flex;
  flex-direction: column;
  width: 22%;
  row-gap: 20px;
}

.blocdouble-activites {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 3px #fff solid;
  border-radius: 15px 15px;
  width: 100%;
  height: 200px;
  box-shadow: 0px 5px 5px #cfccccfa;
}

.blocdouble-activites .nom-hotel {
  padding: 10px 0 0 10px;
}

.double-activites .ordi {
  display: initial;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 80%;
}

.double-activites .tablette {
  display: none;
}

.double-activites .mobile {
  display: none;
}

/* ------------------mise en page footer------------------------ */
footer {
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.pdp {
  box-sizing: border-box;
  padding-left: 20px;
  width: 30%;
  /* padding-left: 25px; */
}
/* ------------------format tablette------------------------ */
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    width: auto;
  }

  .bloc-populaire .ordi {
    display: none;
  }

  .bloc-populaire .tablette {
    display: initial;
    width: 40%;
    min-width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
  }

  .bloc-populaire .mobile {
    display: none;
  }

  .bloc-hebergement .ordi {
    display: none;
  }

  .bloc-hebergement .tablette {
    display: initial;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 60%;
  }

  .bloc-hebergement .mobile {
    display: none;
  }

  .double-activites .ordi {
    display: none;
  }

  .double-activites .tablette {
    display: initial;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80%;
  }

  .double-activites .mobile {
    display: none;
  }

  .simple-activites .ordi {
    display: none;
  }

  .simple-activites .tablette {
    display: initial;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 90%;
  }

  .simple-activites .mobile {
    display: none;
  }
}

/* change format image selon support */

/* ------------------format smartphone------------------------ */
@media all and (max-width: 768px) {
  body {
    width: auto;
    padding: unset;
    margin-left: unset;
    margin-right: unset;
  }

  nav {
    justify-content: unset;
    flex-direction: column;
    padding: unset;
    margin: unset;
    height: auto;
  }

  nav img {
    margin: 20px 0 0 0;
  }

  #nav {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    justify-content: center;
  }

  .ancre-nav:hover {
    border-top: none;
    border-bottom: #0065fc 3px solid;
  }

  main {
    margin: 0 5px;
  }
  /* remplacement du bp recherche */
  #bloc-recherche {
    margin: 0 20px;
  }
  #bp-recherche {
    display: none;
  }

  #bp-icon {
    position: absolute;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0065fc;
    border: 3px #0065fc solid;
    border-radius: 15px 15px;
    width: 46px;
    height: 46px;
  }

  .class-filtre {
    margin: 8px 10px 8px 0;
  }
  /* fin remplacement du bp recherche */

  #filtre p {
    margin: 20px;
  }

  /* ---------------mise en page information----------------- */
  #logo-information {
    position: relative;
    bottom: 9px;
  }

  #information p {
    margin-left: 8px;
    font-size: 15px;
    max-width: 383px;
  }

  #hotel {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
  }

  #populaire {
    padding: 5px;
    width: auto;
    height: 100%;
  }

  #titre-populaire h3 {
    margin-left: 5px;
  }

  #hebergement {
    background-color: unset;
    border: unset;
    padding: unset;
    width: 100%;
    min-width: unset;
  }

  .bloc-hebergement {
    flex: auto;
    border: unset;
    width: 100%;
  }

  #corps-hebergement {
    flex-direction: column;
  }

  #afficher {
    padding: 0 0 20px 10px;
  }

  #corps-activites {
    flex-direction: column;
    row-gap: 20px;
  }

  #corps-activites a {
    width: 100%;
  }

  #activites h4 {
    margin-left: 10px;
  }

  .simple-activites {
    height: 160px;
  }

  .double-activites {
    justify-content: space-between;
    width: 100%;
  }

  .blocdouble-activites {
    height: 160px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer li {
    padding-bottom: 10px;
  }

  .pdp {
    width: 100%;
  }

  .bloc-populaire .ordi {
    display: none;
  }

  .bloc-populaire .tablette {
    display: none;
  }

  .bloc-populaire .mobile {
    display: initial;
    width: 40%;
    min-width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
  }

  .bloc-hebergement .ordi {
    display: none;
  }

  .bloc-hebergement .tablette {
    display: none;
  }

  .bloc-hebergement .mobile {
    display: initial;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 60%;
  }

  .double-activites .ordi {
    display: none;
  }

  .double-activites .tablette {
    display: none;
  }

  .double-activites .mobile {
    display: initial;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 80%;
  }

  .simple-activites .ordi {
    display: none;
  }

  .simple-activites .tablette {
    display: none;
  }

  .simple-activites .mobile {
    display: initial;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 80%;
  }
}
