/* Les couleurs de la charte sont le bleu (#0065FC), une version plus
claire de ce bleu (#DEEBFF) et le gris pour le fond (#F2F2F2). */
/* header */

body{
	font-family: 'Raleway', Arial, sans-serif;
    width: 992px;
    margin: 10px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

a{
    outline: none;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 20px 0;
}

nav img{
    height: 35px;
}

#nav{
    display: flex;
    list-style: none;
    font-size: 13px;
    height: 100%;
}

/* bordure bleu survol souris */
nav a:hover{
    color: #0065FC;
    outline-color: #0065FC;
    padding-top: 34px;
    border-top: 2px solid;
}

/* main */

h1{
    font-size: 17px;
    font-weight: bold;
    margin: 0px;
}

p{
    font-size: 12px;
    margin: 10px 0;
}

/* champs recherche */
#recherche {
    display: flex;
    align-items: center;
}

/* mise en forme recherche */
#logo-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 3px #F2F2F2 solid;
    width: 40px;
    height: 40px;
    border-radius: 15px 0 0 15px;
}

#champ-recherche{
    border: 2px #F2F2F2 solid;
    padding: 2px;
    margin: 0px;
    text-indent:5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
}

#bp-recherche{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: 3px #0065FC solid;
    width: 97px;
    height: 46px;
    border-radius: 0 13px 13px 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
}
#bp-icon{
    display: none;
}

/* champ filtre */
#filtre p{
    font-weight: bold;
    font-size: 16px;
}
#filtre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 780;
}

#smart-filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: auto;
}

/* ------mise en forme filtre --------*/
.class-filtre{
    display: flex;
    align-items: center;
    border: 3px #F2F2F2 solid;
    width: auto;
    height: 38px;
    font-size: 20px;
    border-radius: 30px 30px;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 8px 10px;
}
.class-filtre i{
    color: #0065FC;
    position: relative;
    left: 8px;
    top: 5px;
}

.logo-filtre{
    position: relative;
    right: 5px;
    box-sizing: content-box;
    color: #ffffff;
    background-color: #F2F2F2;
    border: 3px #F2F2F2 solid;
    width: 38px;
    height: 38px;
    border-radius: 30px 30px
}

#f-filtre{
    background: none;
    border: none;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 7px;
}

/* ------------------format tablette------------------------ */
@media screen and (min-width: 768px) and (max-width: 992px)
{
    body{
        width: auto;
    }
    nav a:hover{
        color: #0065FC;
        outline-color: #0065FC;
        padding-top: unset;
        border-top: unset;
        border-bottom: #0065FC 2px solid;
        padding-bottom: 5px;
    }

}

/* ------------------format smartphone------------------------ */
@media all and (max-width: 768px)
{
    body{
        width: auto;
        padding: unset;
        margin-left: unset;
        margin-right: unset;
    }
    nav{
        justify-content: unset;
        flex-direction: column;
        padding: unset;
        margin: unset;
    }
    nav img{
        height: 35px;
        margin: 20px 0 0 0;
    }
    #nav{
        width: 100%;
        padding: 20px 0;
        justify-content: center;
    }

    nav a:hover{
        color: #0065FC;
        outline-color: #0065FC;
        padding: unset;
        border-top: unset;
        border-bottom: #0065FC 2px solid;
        padding-bottom: 5px;
    }
    main{
        margin: 10px 20px;
    }
    #bp-recherche{
        display: none;
    }
    #bp-icon{
        position: absolute;
        left: 272px;
        display: block;
        color: #ffffff;
        background-color: #0065FC;
        border: 3px #0065FC solid;
        width: 46px;
        height: 46px;
        border-radius: 13px 13px;
        justify-content: center;
        align-items: center;
    }
}